/* PC */
@media screen and (min-width: 1024px) {
    /* Se oculta lo especifico de tablet */
    .tablet {
        display: none;
    }
    /* Se ajusta la barra de navegación principal */
    nav > .menuNav {
        width: 60%;
        margin: auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav > .menuNav > li {
        margin-left: 30px;
    }

    /* Se muestra el botón de carrito */
    nav > button {
        display: inline;
        padding: 8px;
        border-radius: 15px;
        
    }

    /* Se oculta el icono del carrito anterior */
    nav > span:nth-child(9) {
        display: none;
    }

    /* Se muestra el icono asociado a PC.*/
    .pc {
        display: inline;
        padding: 10px;
        font-size: 1.3em;
    }


    /* NOVEDADES */

    /*Se muestra un cuarto libro*/
    .librosN > .libroN:nth-of-type(4) {
        display: block;
    }

    /* Se ajustan las imagenes */
    .libroN > img {
        width: 40%;
        height: 40%;
    }

    /* FIN DE NOVEDADES */

    /* DESTACADOS */

    /*Se muestra un cuarto libro*/
    .librosD > .libroD:nth-of-type(4) {
        display: block;
    }

    /* Se ajustan las imagenes */
    .libroD > img {
        width: 40%;
        height: 40%;
    }

    /* FIN DE DESTACADOS */

    /* FOOTER */

    /* Se muestra el ultimo li que */
    footer > .menuNav > li:last-of-type {
        display: inline;
    }

    /* Se muestra el sublistado de géneros*/
    footer > .menuNav > li > ul {
        display: block;
        font-size: 0.8em;
        margin-top: 10px;
    }

    /* Se ajusta los iconos de contacto */
    .iconosContacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    /* Se muestra el último */
    .iconosContacto > li:last-child {
        display: inline;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;

        gap: 5%;
    }

    .generalCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: black;
        border-radius: 2em;
        background-color: lightgray;
        padding: 20px;
    }

    .adminCards {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .genreCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: black;
        border-radius: 2em;
        background-color: lightgray;
        padding: 5px;
    }

    .genreCard:hover {
        cursor: pointer;
    }

    .genreCard > h1{
        padding: 15px;
    }

    button {
        padding: 10px;
        border-radius: 15px;
        background-color: #B7E4C7;
    }

    table {
        background-color: #95D5B2;
    }
    
    /* Ajustes del Carousel */
    /* REF: https://fancyapps.com/carousel/plugins/sync/ */

    #carouselNovedad, #carouselDestacado {
        --f-carousel-gap: 10px;
        --f-carousel-slide-width: 100%;
        --f-carousel-slide-padding: 30px;
    
        margin: 5px 0px;
    }

    .f-carousel__slide > img {
        width: 45%;
        height: 55%;
    }

    /* Se le da un padding al botón */
    .f-carousel__slide > button {
        padding: 10px;
        border-radius: 15px;
        background-color: #B7E4C7;
        margin: 5px;
    }

    .f-carousel__slide > button:nth-child(5) {
        width: 40%;
    }
}