/* MOVIL */
/* Se le da color a la barra de navegación y se le indica que se muestre en fila. */
header {
    background-color: #95D5B2;
}

body, main {
    background-color: #40916C;
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
}

/* Se oculta el checkbox */
#hamburguesa {
    display: none;
}
/* Cuando el checkbox este marcado se moverá al centro */
#hamburguesa:checked ~.menuMovil {
    transform: translatex(-2%);
}

/* Se cambia el puntero a Pointer */
#icono {
    cursor: pointer;
}

/* Se ajusta el menu de movil, creandose FUERA de pantalla. */
.menuMovil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Se mueve fuera de pantalla */
    position: absolute;
    top: 5rem;
    background-color: #D8F3DC;
    transform: translatex(-110%);
    transition: transform 0.4s;
    /* Se quita el tipo de lista y se centra el texto */
    list-style-type: none;
    text-align: center;
}

/* Se ajusta el padding y el tamaño de letra. */
.menuMovil > li {
    padding: 35px;
    font-weight: bold;
    font-size: 1.3em;
}

nav > label, nav > img  {
    padding: 10px;
}

nav > span:nth-child(7) {
    margin-left: auto;
    padding: 10px;
}

/* Dado que movil no necesita de botón se oculta */
nav > button {
    display: none;
}

/* El movil no ve la barrá de navegación desde aquí, se oculta.*/
.menuNav {
    display: none;
}

/* Dado que estos elementos son exclusivos de tablet o PC, se ocultan. */
.tablet, .pc {
    display: none;
}

/* NOVEDADES */

/* Se centra el texto */
.novedades{
    text-align: center;
}

/* Se indica que el texto esté en mayusculas y se modifica su tamaño */
.novedades > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}

/* Se le da fondos a todos los apartados y se muestran en filas. */
.librosN, .librosD, .librosO {
    background-color: #95D5B2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Se ajusta el tamaño de ambas flechas */
.flechaIzquierda {
    font-size: 3.2em;
    margin: auto;
}
.flechaDerecha {
    font-size: 3.2em;
    margin: auto;
}

/* Cada apartado libro se mostrará en columna. */
.libroN, .libroD, .libroO{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Los libros del 2 al 4 no son visibles en movil */
.librosN > .libroN:nth-of-type(2), .librosN > .libroN:nth-of-type(3), .librosN > .libroN:nth-of-type(4) {
    display: none;
}

/* El botón de Ver y el titulo debajo de la foto no son visibles en movil, se ocultan.*/
.libroN > h3:nth-child(3), .libroN > button:first-of-type {
    display: none;
}

/* Se ajusta el tamaño de la imagen para todos los libros. */
.libroN > img, .libroD > img, .libroO > img {
    width: 50%;
    height: 50%;
}

/* Se le da un padding al botón */
.libroN > button {
    padding: 10px;
    border-radius: 15px;
    background-color: #B7E4C7;
}

/* FIN DE NOVEDADES */

/* DESTACANDO */

/* Se centra el texto */
.destacando {
    text-align: center;
}
/* Se indica que el texto esté en mayusculas y se modifica su tamaño */
.destacando > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}

/* Se oculta el segundo titulo y el botón de ver */
.libroD > h3:nth-child(3), .libroD > button:first-of-type {
    display: none;
}
/* Se ocultan los libros que no se pueden ver en movil. */
.librosD > .libroD:nth-of-type(2), .librosD > .libroD:nth-of-type(3), .librosD > .libroD:nth-of-type(4) {
    display: none;
}

/* Se le da un padding al botón */
.libroD > button {
    padding: 10px;
    background-color: #B7E4C7;
    border-radius: 15px;
}

/* FIN DE DESTACADO */

/* OFERTAS */

/* Se centra el texto */
.ofertas {
    text-align: center;
}

/* Se indica que se muestre en mayusculas y se cambia el tamaño */
.ofertas > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}
/* Se le da padding a la sección de libros. */
.librosO {
    padding: 25px;
}

/* El botón de Ver y el titulo debajo de la foto no son visibles en movil, se ocultan.*/
.libroO > h3:nth-child(3) {
    display: none;
}

.ver, .botones, .descripcion {
    display: none;
}

/* Se le da padding y borde al botón */
.libroO > button {
    padding: 15px;
    border-radius: 15px;
    background-color: #B7E4C7;  
}

/* Se ajusta el tamaño de las imagenes */
.libroO > img {
    width: 30%;
    height: 30%;
}

/* FIN DE OFERTAS */

    /* CONTENIDO */
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 55vh;
    }

    /* FIN DE CONTENIDO */

    /* LOGINCARD */

    .loginCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: black;
        border-radius: 2em;
        background-color: lightgray;
        padding: 20px;
    }

    input[type=submit] {
        padding: 10px;
        border-radius: 2em;
        text-align: center; 
    }

    /* FIN DE LOGINCARD */

footer {
    background-color: #95D5B2;

    font-size: 1.2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


footer > img:first-of-type {
    display: none;
}

footer > .menuNav > li > ul {
    display: none;
}

.iconosContacto > li {
    font-size: 1.3em;
    padding: 10px;
}

.iconosContacto > li:last-child {
    display: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
    #icono {
        display: none;
    }

    .menuMovil {
        display: none;
    }

    .tablet {
        display: block;
    }

    .menuNavTablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-weight: bold;
        padding: 10px;
    }

    .nav {
        font-size: 1.5em;
    }

    nav > .tablet {
        margin-left: auto;
    }

    nav > span:nth-child(7) {
        margin-left: 1px;
        padding: 10px;
    }

    /* NOVEDADES */
    
    .libroN {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .libroN > h3:nth-child(1) {
        display: none;
    }

    .librosN > .libroN:nth-of-type(2), .librosN > .libroN:nth-of-type(3) {
        display: block;
    }

    /* El botón de Ver y el titulo debajo de la foto son visibles en tablet, se hacen visibles y se centran.*/
    .libroN > h3:nth-child(3), .libroN > button:first-of-type {
        display: block;
        justify-self: center;
        width: 40%;
    }

    /* Se le da un padding al botón */
    .libroN > button {
        padding: 20px;
        border-radius: 15px;
        background-color: #B7E4C7;
    }

    /* FIN NOVEDADES */

    /* DESTACADO */

    .libroD {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .libroD > h3:nth-child(1) {
        display: none;
    }

    .librosD > .libroD:nth-of-type(2), .librosD > .libroD:nth-of-type(3) {
        display: block;
    }

    /* El botón de Ver y el titulo debajo de la foto son visibles en tablet, se hacen visibles y se centran.*/
    .libroD > h3:nth-child(3), .libroD > button:first-of-type {
        display: block;
        justify-self: center;
        width: 40%;
    }

    /* FIN DE DESTACADO */


    /* OFERTA */
    /* Se ocultan las otras ofertas */
    .librosO > .libroO:nth-of-type(2), .librosO > .libroO:nth-of-type(3) {
        display: none;
    }
    /* Se ocultan los botones y titulo anteriores */
    .libroO > button:first-of-type, .libroO > h3:first-of-type {
        display: none;
    }

    /* Se muestran los botones y la descripción*/
    .botones, .descripcion {
        display: inline;
    }

    /* Se editan los botones como corresponde */
    .libroO > .botones > button {
        padding: 15px;
        border-radius: 15px;
        background-color: #B7E4C7;  
    }

    /* Se muestra todo en fila */
    .libroO {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Se edita el tamaño de la imagen */
    .libroO > img {
        width: 20%;
        height: 20%;
    }

    /* Se colocan bien los botones */
    .botones {
        display: flex;
        flex-direction: column;
        justify-self: start;
    }
    .botones > button:first-child {
        margin: 30px;
    }

    /* Se coloca la descripcion y titulo correctamente. */
    .descripcion {
        display: flex;
        flex-direction: column;
        width: 35%;
    }

    /* FIN DE OFERTA */

    /* CONTENIDO */
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 55vh;
    }

    /* FIN DE CONTENIDO */

    /* LOGINCARD */

    .loginCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: black;
        border-radius: 2em;
        background-color: lightgray;
        padding: 20px;
    }

    input[type=submit] {
        padding: 10px;
        border-radius: 2em;
        text-align: center; 
    }

    /* FIN DE LOGINCARD */

    /* FOOTER */

    /* Se muestra el logo correspondiente */
    footer > img:first-of-type {
        display: inline;
    }
    /* Se oculta lo que no es necesario ahora mismo */
    footer > span, footer > img:last-of-type {
        display: none;
    }

    /* Se muestra el menu de navegación */
    footer > .menuNav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer > .menuNav > li {
        margin-left: 45px;
    }
    /* Se oculta el ultimo li que aquí no es necesario */
    footer > .menuNav > li:last-of-type {
        display: none;
    }
}

/* PC */
@media screen and (min-width: 1024px) {
    /* Se oculta lo especifico de tablet */
    .tablet {
        display: none;
    }
    /* Se ajusta la barra de navegación principal */
    nav > .menuNav {
        width: 60%;
        margin: auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav > .menuNav > li {
        margin-left: 30px;
    }

    /* Se muestra el botón de carrito */
    nav > button {
        display: inline;
        padding: 8px;
        border-radius: 15px;
        
    }

    /* Se oculta el icono del carrito anterior */
    nav > span:nth-child(9) {
        display: none;
    }

    /* Se muestra el icono asociado a PC.*/
    .pc {
        display: inline;
        padding: 10px;
        font-size: 1.3em;
    }


    /* NOVEDADES */

    /*Se muestra un cuarto libro*/
    .librosN > .libroN:nth-of-type(4) {
        display: block;
    }

    /* Se ajustan las imagenes */
    .libroN > img {
        width: 40%;
        height: 40%;
    }

    /* FIN DE NOVEDADES */

    /* DESTACADOS */

    /*Se muestra un cuarto libro*/
    .librosD > .libroD:nth-of-type(4) {
        display: block;
    }

    /* Se ajustan las imagenes */
    .libroD > img {
        width: 40%;
        height: 40%;
    }

    /* FIN DE DESTACADOS */

    /* FOOTER */

    /* Se muestra el ultimo li que */
    footer > .menuNav > li:last-of-type {
        display: inline;
    }

    /* Se muestra el sublistado de géneros*/
    footer > .menuNav > li > ul {
        display: block;
        font-size: 0.8em;
        margin-top: 10px;
    }

    /* Se ajusta los iconos de contacto */
    .iconosContacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    /* Se muestra el último */
    .iconosContacto > li:last-child {
        display: inline;
    }

}