/* MOVIL */
/* TODO: Revisar los estilos de PC y Tablet. */
/* Se le da color a la barra de navegación y se le indica que se muestre en fila. */
header {
    background-color: #95D5B2;
}

body, main {
    background-color: #40916C;
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
}

/* Se oculta el checkbox */
#hamburguesa {
    display: none;
}
/* Cuando el checkbox este marcado se moverá al centro */
#hamburguesa:checked ~.menuMovil {
    transform: translatex(-2%);
}

/* Se cambia el puntero a Pointer */
#icono {
    cursor: pointer;
}

/* Se ajusta el menu de movil, creandose FUERA de pantalla. */
.menuMovil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Se mueve fuera de pantalla */
    position: absolute;
    top: 5rem;
    background-color: #D8F3DC;
    transform: translatex(-110%);
    transition: transform 0.4s;
    /* Se quita el tipo de lista y se centra el texto */
    list-style-type: none;
    text-align: center;
}

/* Se ajusta el padding y el tamaño de letra. */
.menuMovil > li {
    padding: 35px;
    font-weight: bold;
    font-size: 1.3em;
}

nav > label, nav > img  {
    padding: 10px;
}

nav > span:nth-child(7) {
    margin-left: auto;
    padding: 10px;
}

/* Dado que movil no necesita de botón se oculta */
nav > button {
    display: none;
}

/* El movil no ve la barrá de navegación desde aquí, se oculta.*/
.menuNav {
    display: none;
}

/* Dado que estos elementos son exclusivos de tablet o PC, se ocultan. */
.tablet, .pc {
    display: none;
}

/* NOVEDADES */

/* Se centra el texto */
.novedades{
    text-align: center;
}

/* Se indica que el texto esté en mayusculas y se modifica su tamaño */
.novedades > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}

/* Se le da fondos a todos los apartados y se muestran en filas. */
.librosN, .librosD, .librosO {
    background-color: #95D5B2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Se ajusta el tamaño de ambas flechas */
.flechaIzquierda {
    font-size: 3.2em;
    margin: auto;
}
.flechaDerecha {
    font-size: 3.2em;
    margin: auto;
}

/* Cada apartado libro se mostrará en columna. */
.libroN, .libroD, .libroO{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Los libros del 2 al 4 no son visibles en movil */
.librosN > .libroN:nth-of-type(2), .librosN > .libroN:nth-of-type(3), .librosN > .libroN:nth-of-type(4) {
    display: none;
}

/* El botón de Ver y el titulo debajo de la foto no son visibles en movil, se ocultan.*/
.libroN > h3:nth-child(3), .libroN > button:first-of-type {
    display: none;
}

/* Se ajusta el tamaño de la imagen para todos los libros. */
.libroN > img, .libroD > img, .libroO > img {
    width: 50%;
    height: 50%;
}

/* Se le da un padding al botón */
.libroN > button {
    padding: 10px;
    border-radius: 15px;
    background-color: #B7E4C7;
}

/* FIN DE NOVEDADES */

/* DESTACANDO */

/* Se centra el texto */
.destacando {
    text-align: center;
}
/* Se indica que el texto esté en mayusculas y se modifica su tamaño */
.destacando > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}

/* Se oculta el segundo titulo y el botón de ver */
.libroD > h3:nth-child(3), .libroD > button:first-of-type {
    display: none;
}
/* Se ocultan los libros que no se pueden ver en movil. */
.librosD > .libroD:nth-of-type(2), .librosD > .libroD:nth-of-type(3), .librosD > .libroD:nth-of-type(4) {
    display: none;
}

/* Se le da un padding al botón */
.libroD > button {
    padding: 10px;
    background-color: #B7E4C7;
    border-radius: 15px;
}

/* FIN DE DESTACADO */

/* OFERTAS */

/* Se centra el texto */
.ofertas {
    text-align: center;
}

/* Se indica que se muestre en mayusculas y se cambia el tamaño */
.ofertas > h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.3em;
}
/* Se le da padding a la sección de libros. */
.librosO {
    padding: 25px;
}

/* El botón de Ver y el titulo debajo de la foto no son visibles en movil, se ocultan.*/
.libroO > h3:nth-child(3) {
    display: none;
}

.ver, .botones, .descripcion {
    display: none;
}

/* Se le da padding y borde al botón */
.libroO > button {
    padding: 15px;
    border-radius: 15px;
    background-color: #B7E4C7;  
}

/* Se ajusta el tamaño de las imagenes */
.libroO > img {
    width: 30%;
    height: 30%;
}

/* FIN DE OFERTAS */

    /* CONTENIDO */
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 55vh;
    }

    /* FIN DE CONTENIDO */

    .cardDistribution {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* LOGINCARD */

    .loginCard, .registerCard, .generalCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: black;
        border-radius: 2em;
        background-color: lightgray;
        padding: 20px;
    }

    .loginCard > h2, .registerCard > h2, .generalCard > h2 {
        text-align: center;
    }

    input[type=submit], #goToLogin, button {
        padding: 10px;
        border-radius: 2em;
        text-align: center; 
    }

    .generalCard > a  {
        text-align: center;
    }

    /* FIN DE LOGINCARD */

footer {
    background-color: #95D5B2;

    font-size: 1.2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


footer > img:first-of-type {
    display: none;
}

footer > .menuNav > li > ul {
    display: none;
}

.iconosContacto > li {
    font-size: 1.3em;
    padding: 10px;
}

.iconosContacto > li:last-child {
    display: none;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adminCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.genreCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    border-radius: 2em;
    background-color: lightgray;
    padding: 5px;
}

.genreCard > h1 {
    padding: 10px;
    text-align: center;
}